/* Colors */

$mainGreen: #88A755;
$lightGreen: #B2D875;
$coral: #EF8E7B; 
$violet: #AE8EDD;
$lightBlue: #72DBF7;
$yellow: #E0C761;
$pink: #F77FEE;
$orange: #F4B562;
$turquoise: #7FEAD8;
$gray: #555555;
$white: #FFFFFF;

